:root {
  --error-primary: #ff0004;

  --border-color: rgba(255, 255, 255, 0.23);

  --text-primary: #f8f8f8;
  --text-secondary: #d5d5d5;
  --hover-primary: rgba(0, 0, 0, 0.3);
  --hover-secondary: rgba(0, 0, 0, 0.2);
  --hover-tertiary: rgba(0, 0, 0, 0.1);
  --hover-quaternary: rgba(0, 0, 0, 0.05);

  --primary: #0091d8;
  --primary-light: #40a8de;
  --primary-dark: rgb(0, 101, 151);

  --background-dark: #1c1c1c;
  --background-primary: #202020;
  --background-light: rgb(115, 115, 115);
  --background-secondary: #2c2c2c;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  grid-area: 2 / 1 / 3 / 2;
}

.header {
  grid-area: 1 / 1 / 2 / 2;
}

/* Sets up initial layout of the home page */
/* Grid has 2 rows 1 column. */
.app {
  color: var(--text-primary);
  background-color: var(--background-primary);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 1fr;
  width: 100%;
  height: 100%;
  overflow-y: auto;

}

/* Removes the auto complete background colour on MUI's textfield*/
.css-qb7u9c-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill,
.css-3fxpjh-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px var(--background-primary) inset !important;
}
/* For MUI's label going outside the input for the default size*/
.css-qb7u9c-MuiInputBase-input-MuiOutlinedInput-input {
  height: auto !important;
}
/* For MUI's label going outside the TextField for the small size */
.css-3fxpjh-MuiInputBase-input-MuiOutlinedInput-input {
  height: auto !important;
}
